$content-width: 800px;
$main: #000000;
$font-style: 'Georgia', sans-serif;
$font-color: #000000;
$link-color: #4c4c4c;
$link-hover-color: $link-color;
$heading-font: 'Georgia', sans-serif;
$heading-font-color: #000000;
$light: #E7EDF4;
$header:  None;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
